[python]
activate = bin/activate_this.py

[metamos]
dir = metAMOS
init_pipeline = %(dir)s/initPipeline
run_pipeline = %(dir)s/runPipeline

[gingr]
dir = gingr-Linux64-v1.2

[harvesttools]
dir = harvesttools-Linux64-v1.2

[mugsy]
dir = mugsy_v1r2

[parsnp]
dir = parsnp-v1.1

[prokka]
dir = prokka-1.11


