[python]
activate = bin/activate_this.py

[metamos]
dir = /home/mfossen/metamos/metamos/metAMOS
init_pipeline = %(dir)s/initPipeline
run_pipeline = %(dir)s/runPipeline
init_arguments = --help
run_arguments = 

[gingr]
dir = gingr-Linux64-v1.2
arguments = 

[harvesttools]
dir = harvesttools-Linux64-v1.2
arguments = 

[mugsy]
dir = mugsy_v1r2
arguments = 

[parsnp]
dir = parsnp-v1.1
arguments = 

[prokka]
dir = prokka-1.11
arguments = 


