[python]
activate = bin/activate_this.py

[metamos]
dir = /home/mfossen/metamos/metamos/metAMOS
init_pipeline = %(dir)s/initPipeline
run_pipeline = %(dir)s/runPipeline
init_arguments = -W imetamos 
run_arguments = 

[gingr]
dir = gingr-Linux64-v1.2
bin = %(dir)s/gingr
arguments = 

[harvesttools]
dir = harvesttools-Linux64-v1.2
bin = %(dir)s/harvesttools
#arguments = –x <input xmfa> -f <input reference fasta> -g <reference genbank formatted annotations> -n <newick formatted tree>
#arguments = -g <reference_genbank_file1> -r <reference fasta file> -x <XMFA file> -o hvt.ggr
#usage from Todd Treangen
arguments = -i parsnp.ggr -b H37RV.reps.filt.bed,REP,"Repetitive regions, including
            annotated IS and phage" -V parsnp.vcf -o parsnp.FILT.ggr

#to regenerate the phylogeny w/o the filtered regions:
regen_args = -i parsnp.FILT.ggr -S parsnp.snps.fna
#then run fasttree or preferred phylogenetic reconstruction program
# and then...
newick_format_args = -i parsnp.FILT.ggr -n out.tree -o parsnp.FINAL.ggr

[fasttree]
dir = fasttree
bin = %(dir)s/fasttree_linux
#args from Todd Treangen
arguments = -nt -gamma -slow -boot 100 parsnp.snps.fna > out.tree

[mugsy]
dir = mugsy_v1r2
bin = %(dir)s/mugsy

#usage from the mugsy website
arguments = --directory /data/output --prefix mygenomes genome1.fasta genome2.fasta genome3.fasta
#arguments = 

[parsnp]
dir = parsnp-v1.1
bin = %(dir)s/parsnp
#prokka usages
#arguments = contigs.fa
#arguments = --outdir mydir --prefix mygenome contigs.fa 
#arguments = --kingdom Archaea --outdir mydir --genus Pyrococcus --locustag PYCC
#used by Todd Treangen with H37RV.fna reference strain
# he also recommends to us -x to filter out potential SNPs within regions of recombination
arguments = -r

[prokka]
dir = prokka-1.11
bin = %(dir)s/bin/prokka
arguments = 

[mummer]
dir = MUMmer3.23
bin = %(dir)s/
arguments = 
#args used by Todd Treangen in his pipeline
nucmer_args = --maxmatch --nosimplify -l 30
coords_args = -T -L 100 -l 90
